.sectionProfile {

    text-align: center;
	background-color: purple;
	margin-right: 8rem; 
	margin-left: 8rem; 

	
}



.test {
    text-align: right; 
}

.sectionMessage {
    text-align: center; 
	background-color: blue;
	margin-right: 8rem; 
	margin-left: 8rem;
}

.profils {
    text-align: right;
    margin-top: 2rem;
	margin-bottom: 2rem;

}

#buttonPosition {
	text-align: right;
}

.button1 {
    
	padding:6px 0 6px 0em;
	font:Bold 1rem Arial;
	background:#d34836;
	color:#fff;
	width:90px;
	border-radius:2px;
	margin-left: 1rem; 
	margin-right: 2rem;
	margin-bottom: 1rem;
}

#prenom {
	display: inline; 
	margin-right: 7rem;
	font-size: 1.2rem; 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nom{
	display: inline;
	font-size: 1.2rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

}

.prenomNom {
	display: inline; 
	font-size: 1.3rem; 
}

#naissance {
	display: inline; 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-right: 4rem;
	font-size: 1.5rem;
}

#styleButton {
	text-align: right;
	margin-right: 1rem;
}